streamlit==1.19.0
torch==1.13.1
torchvision==0.14.1
Pillow
matplotlib
opencv-python-headless==4.7.0.72
streamlit-webrtc
numpy
mediapipe
scikit-learn
py-feat
opencv-python-headless==4.6.0.66
streamlit==1.12.2
